.checkout {
    .checkout-container {
        display: flex;
        padding: 20px;
        background-color: #fff;
        height: max-content;

        .checkout-left {
            width: 90%;
            .checkout-ad {
                height: 120px;
                width: 100%;
                margin-bottom: 5px;
                cursor: pointer;
            }
            .checkout-desc{
                text-align: start;
                h3{
                    font-size: 24px;
                    margin-bottom: 7px;
                }
                h2{
                    font-size: 20px;
                    padding-left: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #d3d3d3;
                }
            }
        }

        .checkout-right {
            width: 30%;

            .checkout-total {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width:300px;
                height: 100px;
                padding: 20px;
                background-color: #f3f3f3;
                border: 1px solid #ddd;
                border-radius: 3px;

                p {
                    text-align: start;
                    font-size: 16px;
                }

                .checkout-gift {
                    display: flex;
                    align-items: center;

                    input {
                        margin-right: 15px;
                    }

                    p {
                        font-size: 15px;

                    }

                }
                button {
                    background: #f0c14b;
                    border-radius: 2px;
                    width: 100%;
                    height: 30px;
                    margin-top: 10px;
                    border-color: #a88734 #9c7e31 #846a29;
                    border-style: solid;
                    border-width: 1px;
                    color: #111;
                    cursor: pointer;
                    font-size: 12px;
                }
                button:hover{
                    background-color: #a88734;
                }
            }
        }
    }
}